.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.discord_icon {
  width: 1.03125em;
}

.facebook_icon {
  width: 1.03125em;
}

.insta_icon {
  width: 1.03125em;
}

.logo {
  width: 1.75em;
}

.telegram_icon {
  width: 1.03125em;
}
